/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for IRIDA-Next Plugin
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Set how to find wanted files
----------------------------------------------------------------------------------------
*/
iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "irida_id"
            global = []
            samples = ["**/fastqc/*fastqc.html"]
        }
        metadata {
            samples {
                csv {
                    path = "**/merged_metadata.csv"
                    idcol = "irida_id"
                }
            }
        }
    }
}